In [48]:
import pandas as pd
table = [
    {"name": 'aaa', "id": 1, "sal": 1000 },
    {"name": 'bb', "id": 2, "sal": 2000},
    {"name": 'ccc', "id": pd.NA, "sal": 3000}
]

In [5]:
table.append({"name": 'ddd', "id": 4, "sal": 4000})

In [49]:
print(table)

[{'name': 'aaa', 'id': 1, 'sal': 1000}, {'name': 'bb', 'id': 2, 'sal': 2000}, {'name': 'ccc', 'id': <NA>, 'sal': 3000}]

In [7]:
table.pop()

{'name': 'ddd', 'id': 4, 'sal': 4000}

In [8]:
print(table)

[{'name': 'aaa', 'id': 1, 'sal': 1000}, {'name': 'bb', 'id': 2, 'sal': 2000}, {'name': 'ccc', 'id': 3, 'sal': 3000}, {'name': 'ddd', 'id': 4, 'sal': 4000}]

In [9]:
table.extend({"name": 'eee', "id": 5, "sal": 5000})

In [10]:
print(table)

[{'name': 'aaa', 'id': 1, 'sal': 1000}, {'name': 'bb', 'id': 2, 'sal': 2000}, {'name': 'ccc', 'id': 3, 'sal': 3000}, {'name': 'ddd', 'id': 4, 'sal': 4000}, 'name', 'id', 'sal']

In [11]:
table.pop()

'sal'

In [14]:
table.pop(-1)

'name'

In [15]:
print(table)

[{'name': 'aaa', 'id': 1, 'sal': 1000}, {'name': 'bb', 'id': 2, 'sal': 2000}, {'name': 'ccc', 'id': 3, 'sal': 3000}, {'name': 'ddd', 'id': 4, 'sal': 4000}]

In [25]:
print(table)

[{'name': 'aaa', 'id': 1, 'sal': 1000}, {'name': 'bb', 'id': 2, 'sal': 2000}, {'name': 'ccc', 'id': 3, 'sal': 3000}, {'name': 'ddd', 'id': 4, 'sal': 4000}]

In [28]:
import pandas as pd

list(table)

[{'name': 'aaa', 'id': 1, 'sal': 1000},
 {'name': 'bb', 'id': 2, 'sal': 2000},
 {'name': 'ccc', 'id': 3, 'sal': 3000},
 {'name': 'ddd', 'id': 4, 'sal': 4000}]

In [31]:
for item in table:
    if (item['name'] == 'bb'):
        table.remove(item)
print(table)

[{'name': 'aaa', 'id': 1, 'sal': 1000}, {'name': 'ccc', 'id': 3, 'sal': 3000}, {'name': 'ddd', 'id': 4, 'sal': 4000}]

In [54]:
df = pd.DataFrame(table, columns = ['name', 'id', 'sal'], index = [1,2,3])

In [55]:
print(df)

  name    id   sal
1  aaa     1  1000
2   bb     2  2000
3  ccc  <NA>  3000

In [34]:
del df

In [35]:
table

[{'name': 'aaa', 'id': 1, 'sal': 1000},
 {'name': 'ccc', 'id': 3, 'sal': 3000},
 {'name': 'ddd', 'id': 4, 'sal': 4000}]

In [36]:
df = pd.DataFrame(table)

In [37]:
print(df)

  name  id   sal
0  aaa   1  1000
1  ccc   3  3000
2  ddd   4  4000

In [41]:
new_data = {
    "name": 'eee',
    "id": 5,
    "sal": 6000
}


df1 = pd.DataFrame([new_data])

df = pd.concat([df, df1], axis = 0, ignore_index = True)

In [42]:
print(df)

  name  id   sal
0  aaa   1  1000
1  ccc   3  3000
2  ddd   4  4000
3  eee   5  6000
4  eee   5  6000

In [43]:
df1 = df.loc[(df['id'] >=4) & (df['id'] <= 5)]
df2 = df.loc[(df['id'] < 4) | (df['id'] > 5)]

In [44]:
print(df1, df2)

  name  id   sal
2  ddd   4  4000
3  eee   5  6000
4  eee   5  6000   name  id   sal
0  aaa   1  1000
1  ccc   3  3000

In [50]:
print(df1)

  name  id   sal
2  ddd   4  4000
3  eee   5  6000
4  eee   5  6000

In [51]:
print(df2)

  name  id   sal
0  aaa   1  1000
1  ccc   3  3000

In [52]:
df = df.drop_duplicates(subset=['name', 'id'])
print(df)

  name  id   sal
0  aaa   1  1000
1  ccc   3  3000
2  ddd   4  4000
3  eee   5  6000

In [53]:
df = df.drop(df.query('id == 4').index)
print(df)

  name  id   sal
0  aaa   1  1000
1  ccc   3  3000
3  eee   5  6000